@font-face {
  font-family: "iconfont"; /* Project id 1567463 */
  src: url('//at.alicdn.com/t/font_1567463_j8lkmunwh4o.woff2?t=1649559165723') format('woff2'),
       url('//at.alicdn.com/t/font_1567463_j8lkmunwh4o.woff?t=1649559165723') format('woff'),
       url('//at.alicdn.com/t/font_1567463_j8lkmunwh4o.ttf?t=1649559165723') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiyebiaozhiLogo:before {
  content: "\e601";
}

.icon-qiyebiaozhiLogo1:before {
  content: "\e602";
}

.icon-yincangdaohang:before {
  content: "\e63d";
}

.icon-xianshidaohang:before {
  content: "\e63f";
}

.icon-guanlirenyuan:before {
  content: "\e65b";
}

.icon-tuichudenglu:before {
  content: "\e613";
}

.icon-ziyuan31:before {
  content: "\e604";
}

.icon-jianyanbiaobencaiyang:before {
  content: "\e638";
}

.icon-xitongguanli:before {
  content: "\e64b";
}

.icon-yonhu:before {
  content: "\e657";
}

.icon-baogao:before {
  content: "\e624";
}

.icon-suopingmima:before {
  content: "\e635";
}

.icon-wenjian:before {
  content: "\e61d";
}

.icon-wuliaoguanli:before {
  content: "\e647";
}

.icon-baodanyangben:before {
  content: "\e6e5";
}

.icon-xiangmuguanli:before {
  content: "\e60a";
}

.icon-dingdanwuliaocaigouguanli:before {
  content: "\e63b";
}

.icon-dingdanwuliaocaigouruku:before {
  content: "\e63c";
}

.icon-wuliaoguanli1:before {
  content: "\e636";
}

.icon-xiangmuguanli1:before {
  content: "\e637";
}

.icon-baogaochaxun:before {
  content: "\e603";
}

.icon-icon-:before {
  content: "\e630";
}

.icon-jiyinjiance:before {
  content: "\e607";
}

.icon-gonggao:before {
  content: "\e734";
}

.icon-icon:before {
  content: "\e615";
}

.icon-xitongguanli1:before {
  content: "\e62a";
}

.icon-wenjian1:before {
  content: "\e61e";
}

.icon-yangbenguanli:before {
  content: "\e66c";
}

.icon-xiangmu:before {
  content: "\e628";
}

.icon-huaban-:before {
  content: "\e66d";
}

.icon-shebei:before {
  content: "\e617";
}

.icon-wenjian2:before {
  content: "\e721";
}

.icon-jianyan:before {
  content: "\e6f3";
}

.icon-yixuejianyanke:before {
  content: "\e673";
}

.icon-shouye:before {
  content: "\e68e";
}

.icon-xitongguanli2:before {
  content: "\e623";
}

.icon-tubiaozhizuomobankuozhan-:before {
  content: "\e63e";
}

.icon-jibenxinxi:before {
  content: "\e66a";
}

.icon-laowubaochousuode:before {
  content: "\e66b";
}

.icon-dayin:before {
  content: "\e66f";
}

.icon-feishuixiangmu:before {
  content: "\e671";
}

.icon-fuzhi:before {
  content: "\e672";
}

.icon-fapiao:before {
  content: "\e685";
}
